@using VVA.ITS.WebApp.ViewModels;
@model DashboardViewModel;
@{
    Layout = "_Layout";
    ViewData["Title"] = "VVA ITS - Hệ giám sát giao thông thông minh";
}

@section ExtraCSS {
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
}

<div class="text-center mb-50">
    <h3 id="current-time" style="color:red">Dữ liệu trực tuyến phương tiện ngày: </h3>
</div>
@* <div class="row text-center" style="margin-top:10px">
        <div class="col-sm-6">
            <!-- First row of values (6 values) -->
        <h3>Chi tiết thông tin xe</h3>
            <div class="form-group row">
                <div class="col-sm-2">
                    <label for="inputDate" class="col-form-label">Ngày</label>
                    <input type="text" readonly class="form-control-plaintext" id="inputDate" value="">
                </div>
                <div class="col-sm-2">
                    <label for="inputTime" class="col-form-label">Giờ</label>
                    <input type="text" readonly class="form-control-plaintext" id="inputTime" value="">
                </div>
                <div class="col-sm-2">
                    <label for="inputLicensePlate" class="col-form-label">Biển số</label>
                    <input type="text" readonly class="form-control-plaintext" id="inputPlate" value="">
                </div>
                <div class="col-sm-2">
                    <label for="inputPlateType" class="col-form-label">Loại biển số</label>
                    <input type="text" readonly class="form-control-plaintext" id="inputType" value="">
                </div>
                <div class="col-sm-2">
                    <label for="inputSpeed" class="col-form-label">Tốc độ</label>
                    <input type="text" readonly class="form-control-plaintext" id="inputSpeed" value="">
                </div>
                <div class="col-sm-2">
                    <label for="inputDirection" class="col-form-label">Hướng đi</label>
                    <input type="text" readonly class="form-control-plaintext" id="inputDirection" value="">
                </div>
            </div>

            <!-- Second row of values (6 values) -->
            <div class="form-group row">
                <div class="col-sm-2">
                    <label for="inputVehicleType" class="col-form-label">Loại xe</label>
                    <input type="text" readonly class="form-control-plaintext" id="inputVehicleType" value="">
                </div>
                <div class="col-sm-2">
                    <label for="inputCoordinates" class="col-form-label">Tọa độ</label>
                <input type="text" readonly class="form-control-plaintext" id="inputConfidence" value="">
                </div>
                <div class="col-sm-2">
                    <label for="inputColor" class="col-form-label">Màu xe</label>
                <input type="text" readonly class="form-control-plaintext" id="inputVehicleColor" value="">
                </div>
                <div class="col-sm-2">
                    <label for="inputBrand" class="col-form-label">Thương hiệu</label>
                <input type="text" readonly class="form-control-plaintext" id="inputVehicleBrand" value="">
                </div>
                <div class="col-sm-2">
                    <label for="inputPlateColor" class="col-form-label">Màu biển số</label>
                    <input type="text" readonly class="form-control-plaintext" id="inputPlateColor" value="">
                </div>
                <div class="col-sm-2">
                    <label for="inputConclusion" class="col-form-label">Kết luận</label>
                <input type="text" readonly class="form-control-plaintext" id="inputresut" value="">
                </div>
            </div>
       
        
        </div>
        <div class="col-sm-6">
        <h3> Hình ảnh phương tiện</h3>
            <!-- Image container with two images side by side -->
            <div class="image-container">
            <div class="image-item" id="inputPlateImage">
                   
            </div>
            <div class="image-item" id="inputFullImage">
               
            </div>
            </div>
        </div>
    </div> *@

<audio hidden id="warningAudio" controls>
    <source src="/round/warning.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>

<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive-lg">
                <table id="listVehicleDashboard" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="vertical-align:top; text-align:center">Địa điểm</th>
                            <th style="vertical-align:top; text-align:center">Thời gian</th>
                            <th style="vertical-align:top; text-align:center">Biển số</th>
                            <th style="vertical-align:top; text-align:center">Loại BS</th>
                            <th style="vertical-align:top; text-align:center">Màu BS</th>
                            <th style="vertical-align:top; text-align:center">Tốc độ</th>
                            <th style="vertical-align:top; text-align:center">Hướng đi</th>
                            <th style="vertical-align:top; text-align:center">Loại xe</th>
                            <th style="vertical-align:top; text-align:center">Màu xe</th>
                            <th style="vertical-align:top; text-align:center">Hãng xe</th>
                            <th style="vertical-align:top; text-align:center">Hình toàn cảnh</th>
                            <th style="vertical-align:top; text-align:center">Hình xe</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var vehicle in @Model.vehicles)
                        {

                            <tr style="cursor:grab" id="xxx" value="@vehicle.Id">
                                <td>@vehicle.Device</td>
                                <td>@vehicle.Time</td>
                                <td>@vehicle.Plate</td>
                                <td>@vehicle.Type</td>
                                <td>@vehicle.Plate_Color</td>
                                <td>@vehicle.Speed</td>
                                <td>@vehicle.Direction</td>
                                <td>@vehicle.Vehicle_Type</td>
                                <td>@vehicle.Vehicle_Color</td>
                                <td>@vehicle.Vehicle_Brand</td>
                                <td><img class="img-fluid img-thumbnail" loading="lazy" src=" @vehicle.Plate_Image" width="100" height="100"></td>
                                <td><img class="img-fluid img-thumbnail" loading="lazy" src="@vehicle.Full_Image" width="100" height="100"></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>


<!--Modal Xem thông tin chi tiết xe-->

@* <div class="modal fade" id="modalVehicleDetail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          
            <div class="modal-header">
                <h4 class="modal-title">Thông tin chi tiết xe</h4>
                <input type="text" hidden id="idxe" value="">
                <button type="button" class="close required" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

           
            <div class="modal-body">
                <div class="form-group row">
                    <label for="inputDate" class="col-sm-2 col-form-label">Ngày</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" id="inputDate" value="">
                    </div>
                    <label for="inputTime" class="col-sm-2 col-form-label">Giờ</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" id="inputTime" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPlate" class="col-sm-2 col-form-label">Biển số</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" id="inputPlate" value="">
                    </div>
                    <label for="inputType" class="col-sm-2 col-form-label">Loại biển số</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" id="inputType" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputSpeed" class="col-sm-2 col-form-label">Tốc độ</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" id="inputSpeed" value="">
                    </div>
                    <label for="inputDirection" class="col-sm-2 col-form-label">Hướng đi</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" id="inputDirection" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputVehicleType" class="col-sm-2 col-form-label">Loại xe</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" id="inputVehicleType" value="">
                    </div>
                    <label for="inputConfidence" class="col-sm-2 col-form-label">Tọa độ thiết bị</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" id="inputConfidence" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputVehicleColor" class="col-sm-2 col-form-label">Màu xe</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" id="inputVehicleColor" value="">
                    </div>
                    <label for="inputVehicleBrand" class="col-sm-2 col-form-label">Thương hiệu</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" id="inputVehicleBrand" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPlateColor" class="col-sm-2 col-form-label">Màu biển số</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" id="inputPlateColor" value="">
                    </div>
                    <label for="inputresut" class="col-sm-2 col-form-label">Kết luận</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" id="inputresut" value="">
                    </div>
                </div>
                <div class="form-group row text-center">
                   
                    <div class="col-sm-6">
                        <label for="inputPlateImage" class="col-form-label">Hình trước</label>
                        <div id="inputPlateImage">
                           
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="inputFullImage" class="col-form-label">Hình sau</label>
                        <div id="inputFullImage">
                          
                        </div>
                    </div>
                </div>
            </div>

          
            <div class="modal-footer justify-content-center">

                <button type="button" class="btn btn-secondary" target="_blank" onclick="generatePDF1()">Lập biên bản</button>
               
            </div>
        </div>
        
    </div>
  
</div> *@


@section ExtraScripts {
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Bootbox for showing alert -->
    <script src="~/plugins/bootbox/bootbox.all.min.js"></script>
    <!-- Page signalr script -->
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/dashboard/dashboardSignalR.js"></script>
    <!-- Page specific script -->
    <script src="~/js/dashboard/dashboard.js"></script>
}
<style>
    .form-group {
        margin-bottom: 1rem;
    }

    .form-control-plaintext {
        border: 1px solid #ddd;
        border-radius: 0.25rem;
        padding: 0.375rem 0.75rem;
    }

    .image-container {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

        .image-container img {
            width: 100%;
            height: auto;
            flex: 1;
        }

        .image-container .image-item {
            flex: 1;
            padding: 0.5rem;
        }
</style>