@using VVA.ITS.WebApp.ViewModels;
@using X.PagedList.Mvc.Core
@model DashboardViewModel1;
@{
    Layout = "_Layout";
    ViewData["Title"] = "VVA ITS - Hệ giám sát giao thông thông minh";
}

@section ExtraCSS {
    <!-- Select2 -->
    <link rel="stylesheet" href="~/plugins/select2/css/select2.min.css">
}
<div class="card card-outline card-primary">
    <div class="card-header" style="background-color:deepskyblue; display: flex; align-items: center;">
        <!-- Replace 'logo.png' with the path to your actual logo image -->
        <img src="https://ttatgt.vnpttiengiang.vn/img/LogoCSGT.png" alt="Logo" style="height: 60px; margin-right: 15px;">
        <div>
            <h2 style="margin: 0;">PHẦN MỀM QUẢN LÝ XỬ LÝ VI PHẠM HÀNH CHÍNH TTANGT</h2>
            <b>Đơn vị vận hành hệ thống:Phòng CSGT,TT CA huyện Châu Thành tỉnh Đồng Tháp</b>
        </div>
    </div>
</div>


<div class="row text-center" style="margin-top:10px">
    <div class="col-sm-6">
        <!-- First row of values (6 values) -->
        <h3>Chi tiết thông tin xe</h3>
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="inputDate" class="col-form-label">Ngày</label>
                <input type="text" readonly class="form-control-plaintext" id="inputDate1" value="">
            </div>
            <div class="col-sm-2">
                <label for="inputTime" class="col-form-label">Giờ</label>
                <input type="text" readonly class="form-control-plaintext" id="inputTime1" value="">
            </div>
            <div class="col-sm-2">
                <label for="inputLicensePlate" class="col-form-label">Biển số</label>
                <input type="text" readonly class="form-control-plaintext" id="inputPlate1" value="">
            </div>
            <div class="col-sm-2">
                <label for="inputPlateType" class="col-form-label">Loại biển số</label>
                <input type="text" readonly class="form-control-plaintext" id="inputType1" value="">
            </div>
            <div class="col-sm-2">
                <label for="inputSpeed" class="col-form-label">Tốc độ</label>
                <input type="text" readonly class="form-control-plaintext" id="inputSpeed1" value="">
            </div>
            <div class="col-sm-2">
                <label for="inputDirection" class="col-form-label">Hướng đi</label>
                <input type="text" readonly class="form-control-plaintext" id="inputDirection1" value="">
            </div>
        </div>

        <!-- Second row of values (6 values) -->
        <div class="form-group row">
            <div class="col-sm-2">
                <label for="inputVehicleType" class="col-form-label">Loại xe</label>
                <input type="text" readonly class="form-control-plaintext" id="inputVehicleType1" value="">
            </div>
            <div class="col-sm-2">
                <label for="inputCoordinates" class="col-form-label">Vị trí cam</label>
                <input type="text" readonly class="form-control-plaintext" id="inputConfidence1" value="">
            </div>
            <div class="col-sm-2">
                <label for="inputColor" class="col-form-label">Màu xe</label>
                <input type="text" readonly class="form-control-plaintext" id="inputVehicleColor1" value="">
            </div>
            <div class="col-sm-2">
                <label for="inputBrand" class="col-form-label">Thương hiệu xe</label>
                <input type="text" readonly class="form-control-plaintext" id="inputVehicleBrand1" value="">
            </div>
            <div class="col-sm-2">
                <label for="inputPlateColor" class="col-form-label">Màu biển số</label>
                <input type="text" readonly class="form-control-plaintext" id="inputPlateColor1" value="">
            </div>
            <div class="col-sm-2">
                <label for="inputConclusion" class="col-form-label">Kết luận</label>
                <input type="text" readonly class="form-control-plaintext" id="inputresut1" value="">
            </div>
        </div>
        <input type="text" hidden id="idxe" value="">
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary" target="_blank" onclick="generatePDF1()">Lập biên bản</button>
            <button type="button" class="btn btn-secondary" target="_blank" onclick="generatePDF1()">Không xử lý</button>
        </div>
    </div>
    <div class="col-sm-6">
        <h3> Hình ảnh phương tiện</h3>
        <!-- Image container with two images side by side -->
        <div class="image-container">
            <div class="image-item" id="inputPlateImage1">
            </div>
            <div class="image-item" id="inputFullImage1">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card card-info collapsed-card">
            <div class="card-header">
                <h3 class="card-title">Tìm kiếm dữ liệu xe</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    @* <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                    </button> *@
                </div>
            </div>
            <div class="card-body">
                <div class="search-panel">
                    <div class="search-panel-item">
                        <span><b>Loại xe</b></span>
                        <select id="vehicleType" class="form-control">
                            <option value="0">Tất cả</option>
                            <option value="1">Xe máy</option>
                            <option value="2">CAR</option>
                            <option value="3">VAN</option>
                            <option value="4">SUV</option>
                            <option value="5">TRUCK</option>
                            <option value="6">BUS</option>
                            <option value="7">Chưa xác định</option>
                        </select>
                    </div>
                    <div class="search-panel-item">
                        <span><b>Biển số</b></span>
                        <input class="form-control" id="LicensePlate" type="text" value="">
                    </div>

                    <div class="search-panel-item">
                        <span><b>Camera</b></span>
                        <select id="direction" class="form-control">
                            <option value="0">Tất cả</option>
                            <option value="1">Speed CAM</option>
                            <option value="2">VL-NVVOI</option>
                            <option value="3">CTHa-DT854</option>
                            <option value="4">DT854-CTHa</option>
                            <option value="5">237PVC</option>
                        </select>
                    </div>
                    <div class="search-panel-item">
                        <span><b>Màu biển số</b></span>
                        <select id="platecolor" class="form-control">
                            <option value="0">Tất cả</option>
                            <option value="1">Đỏ</option>
                            <option value="2">Trắng</option>
                            <option value="3">Vàng</option>
                            <option value="4">Xanh</option>
                        </select>
                    </div>
                    <div class="search-panel-item">
                        <span><b>Màu xe</b></span>
                        <select id="vehiclecolor" class="form-control">
                            <option value="0">Tất cả</option>
                            <option value="1">Đỏ</option>
                            <option value="2">Trắng</option>
                            <option value="3">Đen</option>
                            <option value="4">Vàng</option>
                            <option value="5">Xám</option>
                            <option value="6">Xanh dương</option>
                            <option value="7">Xanh lá</option>
                            <option value="8">Chưa xác định</option>
                        </select>
                    </div>
                    <div class="search-panel-item">
                        <span><b>Hãng xe</b></span>
                        <select id="vehiclebrand" class="form-control">
                            <option value="0">Tất cả</option>
                            <option value="1">Audi</option>
                            <option value="2">Land Rover</option>
                            <option value="3">Isuzu</option>
                            <option value="4">Bentley</option>
                            <option value="5">Daewoo</option>
                            <option value="6">Chevrolet</option>
                            <option value="7">Honda</option>
                            <option value="8">Ford</option>
                            <option value="9">Nissan</option>
                            <option value="10">Toyota</option>
                            <option value="11">Mitsubishi</option>
                            <option value="12">BMW</option>
                            <option value="13">Volvo</option>
                            <option value="14">Mazda</option>
                            <option value="15">Hyundai</option>
                            <option value="16">Kia</option>
                            <option value="17">Aston Martin</option>
                            <option value="18">Jeep</option>
                            <option value="19">Peugeot</option>
                            <option value="20">Dodge</option>
                            <option value="21">BYD</option>
                            <option value="22">Chưa xác định</option>
                        </select>
                    </div>
                    <div class="search-panel-item">
                        <span><b>Từ thời điểm</b></span>
                        <input type="text" class="form-control datetimepicker" id="startDate" name="tuNgay" value="@DateTime.Now.AddMinutes(-30).ToString("dd/MM/yyyy HH:mm")" />
                    </div>
                    <div class="search-panel-item">
                        <span><b>Đến thời điểm</b></span>
                        <input type="text" class="form-control datetimepicker" id="endDate" name="denNgay" value="@DateTime.Now.AddMinutes(5).ToString("dd/MM/yyyy HH:mm")" />
                    </div>
                    <div class="search-panel-item">
                        <span><b>Quá tốc độ</b></span>
                        <select id="overWeight" class="form-control">
                            <option value="0">Tất cả</option>
                            <option value="1">Không quá tốc độ</option>
                            <option value="2">Từ5-10km/h</option>
                            <option value="3">Từ 10-20Km/h</option>
                            <option value="4">Từ20-35km/h</option>
                            <option value="5">35km/h</option>
                        </select>
                    </div>
                    <div class="search-panel-item">
                        <span><b>Loại vi phạm</b></span>
                        <select id="violate" class="form-control">
                            <option value="0">Tất cả</option>
                            <option value="1">Không đội mũ bảo hiểm</option>
                            <option value="2">Xe chở ba</option>
                            <option value="3">Không chấp hành hiệu lệnh đèn THGT</option>
                        </select>
                    </div>
                    @*  <div class="search-panel-item">
                    <p><video src="http://192.188.0.183:8080" autoplay="autoplay" width="704" height="480"></video></p>
                    </div> *@
                    <div class="search-panel-item">
                        <span></span><br>
                        <button id="btnExportData" class="btn btn-primary form-control" type="button" data-toggle="tooltip" title="Xuất báo cáo dữ liệu" data-placement="bottom">Xuất báo cáo</button>
                    </div>
                    <div class="search-panel-item">
                        <span></span><br>
                        <button id="btnSearch" class="btn btn-primary form-control" type="button" data-toggle="tooltip" title="Tìm kiếm" data-placement="bottom">Tìm kiếm</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive-lg">
                <table id="listVehicleDashboard1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th style="vertical-align:top; text-align:center">Địa điểm</th>
                            <th style="vertical-align:top; text-align:center">Thời gian</th>
                            <th style="vertical-align:top; text-align:center">Biển số</th>
                            <th style="vertical-align:top; text-align:center">Loại BS</th>
                            <th style="vertical-align:top; text-align:center">Màu BS</th>
                            <th style="vertical-align:top; text-align:center">Tốc độ</th>
                            <th style="vertical-align:top; text-align:center">Hướng đi</th>
                            <th style="vertical-align:top; text-align:center">Loại xe</th>
                            <th style="vertical-align:top; text-align:center">Màu xe</th>
                            <th style="vertical-align:top; text-align:center">Hãng xe</th>
                            @*  <th style="vertical-align:top; text-align:center">Hình toàn cảnh</th>
                            <th style="vertical-align:top; text-align:center">Hình xe</th>
                            *@
                        </tr>
                    </thead>
                    <tbody>
                        @if (@Model.Vehicles != null)
                        {
                            @foreach (var vehicle in @Model.Vehicles)
                            {
                                <tr style="cursor:grab" id="xxxx" value="@vehicle.Id">
                                    <td>@vehicle.Device</td>
                                    <td>@vehicle.Time</td>
                                    <td>@vehicle.Plate</td>
                                    <td>@vehicle.Type</td>
                                    <td>@vehicle.Plate_Color</td>
                                    <td>@vehicle.Speed</td>
                                    <td>@vehicle.Direction</td>
                                    <td>@vehicle.Vehicle_Type</td>
                                    <td>@vehicle.Vehicle_Color</td>
                                    <td>@vehicle.Vehicle_Brand</td>
                                    @*  <td><img class="img-fluid img-thumbnail" loading="lazy" src=" @vehicle.Plate_Image" width="100" height="100"></td>
                            <td><img class="img-fluid img-thumbnail" loading="lazy" src="@vehicle.Full_Image" width="100" height="100"></td> *@
                                </tr>
                            }
                        }
                        
                    </tbody>
                </table>
                <div class="pagination-container" id="pagination">
                    @if (Model.Vehicles != null)
                    {
                        @Html.PagedListPager(Model.Vehicles, page => Url.Action("Indexfind", new
                            {
                                page,
                                pageSize = Model.Vehicles.PageSize,
                                speedsend = Model.Search.speedsend,
                                directionsend = Model.Search.directionsend,
                                platecolor = Model.Search.platecolor,
                                vehiclecolor = Model.Search.vehiclecolor,
                                vehiclebrand = Model.Search.vehiclebrand,
                                platesend = Model.Search.platesend,
                                starttime = Model.Search.starttime,
                                endtime = Model.Search.endtime,
                                VehicleType = Model.Search.VehicleType
                            }), new PagedListRenderOptions
               {
                   LiElementClasses = new[] { "page-item" },
                   PageClasses = new[] { "page-link" }
               })
                    }
                </div>

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>


@section ExtraScripts {
    <!-- Select2 -->
    <script src="~/plugins/select2/js/select2.full.min.js"></script>
    <!-- ChartJS -->
    <script src="~/plugins/chart.js/Chart.min.js"></script>
    <!-- Bootbox for showing alert -->
    <script src="~/plugins/bootbox/bootbox.all.min.js"></script>
    <!-- Page signalr script -->
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/dashboard/dashboardSignalR.js"></script>
    <!-- Page specific script -->
    <script src="~/js/dashboard/dashboardfind.js"></script>
}
<style>
    .form-group {
        margin-bottom: 1rem;
    }

    .form-control-plaintext {
        border: 1px solid #ddd;
        border-radius: 0.25rem;
        padding: 0.375rem 0.75rem;
    }

    .image-container {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

        .image-container img {
            width: 100%;
            height: auto;
            flex: 1;
        }

        .image-container .image-item {
            flex: 1;
            padding: 0.5rem;
        }

    .pagination-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

        .pagination-container .page-item.active .page-link {
            background-color: #007bff;
            border-color: #007bff;
            color: white;
        }

        .pagination-container .page-item .page-link {
            color: #007bff;
            margin: 0 5px;
        }

</style>